<div class="panel project-sections">
  <div class="panel-heading">Sections</div>
  <div class="panel-block">
    <table class="table is-striped is-fullwidth">
      <tbody>
      <% @project.sections.each do |section| %>
        <tr>
          <td class="<%= section.id == @section_id ? 'is-selected' : '' %>">
            <a href="<%= section_path(@project, section) %>"><%= section.name %></a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-block">
    <button class="button is-small is-black is-fullwidth add-section action"><i class="add icon"></i>Add</button>
  </div>
</div>
