<input type="hidden" id="section-id" value="<%= @section_id %>" />
<div class="columns">
  <div class="column is-one-fifth">
    <%= erb :'sections/_panel.html', layout: false %>
  </div>
  <div class="column">
    <div class="panel">
      <div class="panel-heading">
        <span class="tag">section</span>
        <h2 class="title section-name"></h2>
      </div>
      <nav class="navbar">
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item reports-link" href="#">Section Report</a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <button class="button is-black is-small edit-section action">Edit Section</button>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <template id="section-sample-template">
      <tr>
        <td class="sample-name"></td>
        <td class="sample-description"></td>
        <td class="sample-weight"></td>
        <td>
          <div class="buttons is-right">
            <button class="button is-black is-small edit-sample action" data-sample-id="#">Edit sample</button>
          </div>
        </td>
      </tr>
    </template>

    <div class="panel">
      <div class="panel-heading">
        <h3>Samples</h3>
      </div>
      <div class="panel-block">
        <table class="table is-striped is-narrow is-fullwidth section-samples">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Weight</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="4">
                <button class="button is-small is-black is-fullwidth add-sample action">Add</button>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="/dist/section_app.js"></script>
