<div class="panel">
  <div class="panel-heading">
    <span class="tag">section</span>
    <h2 class="title section-name"></h2>
  </div>
  <nav class="navbar">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item reports-link" href="#">Section Report</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <button class="button is-black is-small edit-section action">Edit Section</button>
        </div>
      </div>
    </div>
  </nav>
</div>

<template id="section-sample-template">
  <tr>
    <td class="sample-name"></td>
    <td class="sample-description"></td>
    <td class="sample-weight"></td>
    <td>
      <div class="buttons is-right">
        <button class="button is-black is-small edit-sample action" data-sample-id="#">Edit sample</button>
      </div>
    </td>
  </tr>
</template>

<div class="panel">
  <div class="panel-heading">
    <h3>Samples</h3>
  </div>
  <div class="panel-block">
    <table class="table is-striped is-narrow is-fullwidth section-samples">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Weight</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            <button class="button is-small is-black is-fullwidth add-sample action">Add</button>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<script type="module">
  import { SectionRequest } from "/js/requests.js";
  import { SampleModalFormView, SectionModalFormView } from "/js/modal_form_views.js";
  import { DomHelpers } from "/js/dom_helpers.js";
  import { UrlBuilder } from "/js/url_builder.js";

  $(function() {
    let projectId = <%= @project.id %>
    let sectionId = <%= @section_id %>
    let projectName = "<%= @project.name %>"

    const new_sample = {
      section_id: <%= @section_id %>,
      name: null,
      description: null,
      weight: null,
    }

    new SectionRequest().get(sectionId).then(
      result => {
        let section = result.section

        DomHelpers.setText('.section-name', section.name)
        DomHelpers.setHref('.occurrences-link', UrlBuilder.projectOccurrences(projectId, { projectName: projectName, sectionId: section.id }))
        DomHelpers.setHref('.reports-link', UrlBuilder.projectReports(projectId, { projectName: projectName, sectionId: section.id }))

        let sectionSamplesElement = document.querySelector('.section-samples tbody')
        section.samples.forEach((sample, i) => {
          let template = DomHelpers.getTemplate('section-sample-template')
          DomHelpers.setText('.sample-name', sample.name, template)
          DomHelpers.setText('.sample-description', sample.description, template)
          DomHelpers.setText('.sample-weight', sample.weight, template)

          template.querySelector('.edit-sample.action').addEventListener('click', (event) => {
            new SampleModalFormView(sample, (sample) => window.location.reload()).show()
          })

          sectionSamplesElement.append(template)
        })

        document.querySelector('.edit-section.action').addEventListener('click', (event) => {
          new SectionModalFormView(section, (section) => window.location.reload()).show()
        })
        document.querySelector('.add-sample.action').addEventListener('click', (event) => {
          new SampleModalFormView(new_sample, (sample) => window.location.reload()).show()
        })
      },
      errors => {
        console.log(errors)
      }
    )
  });
</script>
