<input type="hidden" id="species-filters" value='<%= @filters.to_json %>' />

<div class="columns">
  <div class="column is-one-quarter">
    <%= erb :'species/_search.html', layout: false %>
  </div>

  <div class="column">
    <div class="panel species-collection">
      <div class="panel-heading">
        <h1 class="title">Species list (<span class="search-species-size">0</span>)</h1>
      </div>
      <div class="panel-block">
        <template id="search-species-template">
          <tr class="species">
            <td><a href="" class="species-name species-link"></a></td>
            <td class="species-group-name"></td>
          </tr>
        </template>
        <table class="table is-striped is-fullwidth species-slot">
          <thead>
            <tr>
              <th>Species</th>
              <th>Group</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="/dist/catalog_app.js"></script>
