<div class="ui modal" id="sample-form-window">
  <div class="header">Edit Sample</div>
  <div class="content">
    <%= erb :'_validation_messages.html', layout: false %>
    <form class="ui form" id="sample-form">
      <input id="sample-id" name="id" type="hidden" />
      <input id="sample-section_id" name="section_id" type="hidden" />
      <div class="field">
        <label for="sample-name">Name</label>
        <input id="sample-name" name="name" type="text" />
      </div>
      <div class="field">
        <label for="sample-weight">Weight</label>
        <input id="sample-weight" name="weight" type="number" />
      </div>
    </form>
  </div>
  <div class="actions">
    <button class="ui cancel negative button">Cancel</button>
    <button class="ui approve positive button">Save</button>
  </div>
</div>
