<template id="species-group-option-template">
  <option value=""></option>
</template>
<template id="species-form-template">
  <input id="species-id" type="hidden" name="id" />
  <div class="field">
    <label class="label" for="species-name">Name</label>
    <div class="control">
      <input class="input" id="species-name" type="text" name="name" />
    </div>
  </div>
  <div class="field">
    <label class="label" for="species-group-id">Group</label>
    <div class="control">
      <div class="select">
        <select id="species-group-id" name="group_id">
        </select>
      </div>
    </div>
  </div>
</template>

<template id="project-form-template">
  <input id="project-id" type="hidden" name="id" />
  <div class="field">
    <label for="project-name">Name</label>
    <input id="project-name" type="text" name="name" />
  </div>
</template>

<template id="section-form-template">
  <input id="section-id" name="id" type="hidden" />
  <input id="section-project_id" name="project_id" type="hidden" />
  <div class="field">
    <label for="section-name">Name</label>
    <input id="section-name" name="name" type="text" />
  </div>
</template>

<template id="counting-form-template">
  <input id="counting-id" name="id" type="hidden" />
  <input id="counting-project_id" name="project_id" type="hidden" />
  <div class="field">
    <label for="counting-name">Name</label>
    <input id="counting-name" name="name" type="text" />
  </div>
</template>

<template id="sample-form-template">
  <input id="sample-id" name="id" type="hidden" />
  <input id="sample-section-id" name="section_id" type="hidden" />
  <div class="field">
    <label class="label" for="sample-name">Name</label>
    <div class="control">
      <input class="input" id="sample-name" name="name" type="text" />
    </div>
  </div>
  <div class="field">
    <label class="label" for="sample-description">Description</label>
    <div class="control">
      <textarea class="textarea" id="sample-description" name="description"></textarea>
    </div>
  </div>
  <div class="field">
    <label class="label" for="sample-weight">Weight</label>
    <div class="control">
      <input class="input" id="sample-weight" name="weight" type="text" />
    </div>
  </div>
</template>

<template id=form-window-template>
  <div class="modal form-window">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <div class="modal-card-title header"></div>
      </header>
      <section class="modal-card-body">
        <div class="notification is-danger validation-messages">
          <div class="header">
            There are some errors:
          </div>
          <p class="errors"></p>
        </div>
        <form class="form">
        </form>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-cancel">Cancel</button>
        <button class="button is-success">Save</button>
      </footer>
    </div>
  </div>
</template>
