<div class="panel">
  <div class="panel-heading">Find species
  </div>
  <div class="panel-block">
    <form class="form" data-js-species-search>
      <div class="field">
        <label for="search-group-id">Group</label>
        <template id="search-group-option-template">
          <option value="" data-js-group-option></option>
        </template>
        <select id="search-group-id" name="group_id" data-js-group-id-field>
        </select>
      </div>
      <div class="field">
        <label for="search-name">Name</label>
        <input id="search-name" type="text" name="name" data-js-name-field/>
      </div>
      <div class="field">
        <label for="search-verified">Verified</label>
        <input id="search-verified" type="checkbox" name="verified" data-js-verified-field/>
      </div>
      <button class="button" type="submit" data-js-search-action>Search</button>
    </form>
  </div>
</div>
