<div class="ui grid">
  <div class="sixteen wide column">
    <h1 class="ui header">Species list (<span id="search-species-size"></span>)</h1>
  </div>

  <div class="three wide column">
    <form id="species-search" class="ui form">
      <fieldset>
        <legend>Find species</legend>
        <div class="field">
          <label for="search-group-id">Group</label>
          <template id="search-group-option-template">
            <option value=""></option>
          </template>
          <select id="search-group-id" name="group_id">
          </select>
        </div>
        <div class="field">
          <label for="search-name">Name</label>
          <input id="search-name" type="text" name="name" value="<%= @filters && @filters[:name] %>"/>
        </div>
        <button class="ui button" type="submit">Search</button>
      </fieldset>
    </form>
  </div>

  <div class="thirteen wide column scrolling content">
    <template id="search-species-template">
      <tr class="species">
        <td>
          <a href="" class="species-name species-link"></a>
        </td>
        <td class="species-group-name">
        </td>
      </tr>
    </template>
    <table id="species-list" class="ui celled table">
      <thead>
        <tr>
          <th>Species</th>
          <th>Group</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
$(function() {
  var speciesSearch = {
    speciesSearchInitialized: false,
    updatePath: false,
    onSpeciesSelectedEvent: function(speciesId) {
      // do nothing
    },
  }
  var onSpeciesSearchedEvent = function(attrs) {
    if ('URLSearchParams' in window) {
      var searchParams = new URLSearchParams();
      var searchParamsProvided = false;
      for(attr in attrs) {
        if(attrs[attr]) {
          searchParams.set(attr, attrs[attr]);
          searchParamsProvided = true;
        }
      }
      var newRelativePathQuery = window.location.pathname;
      if(searchParamsProvided) {
        newRelativePathQuery = newRelativePathQuery + '?' + searchParams.toString();
      }
      history.pushState(null, '', newRelativePathQuery);
    }
  };

  initializeSpeciesSearch = function({ onSpeciesSelected = null, updatePath = false }) {
    if(speciesSearch['speciesSearchInitialized']) {
      return
    };
    if(onSpeciesSelected) {
      speciesSearch['onSpeciesSelectedEvent'] = onSpeciesSelected;
    }
    speciesSearch['updatePath'] = updatePath;
    speciesSearchInitialized = true
    var actionUrl = '/species/search-filters';
    $.ajax({
      url: actionUrl,
      type: "GET",
      dataType: "json",
    })
    .done(function(json) {
      $('#search-species-size').text(0);
      option = $($('#search-group-option-template').html());
      option.val('');
      option.text('');
      $('#search-group-id').append(option);
      json.groups.forEach(function(group) {
        option = $($('#search-group-option-template').html());
        option.val(group.id);
        option.text(group.name);
        $('#search-group-id').append(option);

      });
    }).fail(function(xhr, status, error) {
      alert('Please refresh the page and try again.')
    })
  }

  $('#species-search .button').click(function(event) {
    var actionUrl = '/species';
    event.preventDefault();
    attrs = {
      group_id: $('#search-group-id').val(),
      name: $('#search-name').val(),
    };
    if(speciesSearch['updatePath']) {
      onSpeciesSearchedEvent(attrs);
    }
    $.ajax({
      url: actionUrl,
      data: attrs,
      type: "GET",
      dataType: "json",
    })
    .done(function(json) {
      $('#species-list tbody').empty();
      $('#search-species-size').text(json.result.length);
      json.result.forEach(function(species) {
        element = $($('#search-species-template').html());
        element.find('.species-name').text(species.name);
        element.find('.species-group-name').text(species.group_name);
        element.find('.species-link').click(function(event) {
          event.preventDefault();
          speciesSearch['onSpeciesSelectedEvent'](species.id);
        });

        $('#species-list tbody').append(element);
      });
    }).fail(function(xhr, status, error) {
      alert('Please refresh the page and try again.')
    })
  });
})
</script>
