<div class="panel">
  <div class="panel-heading">
    Images
  </div>
  <div class="panel-block">
  <% @species.images.each do |image| %>
    <% id = image.id.to_s.rjust(9, '0') %>
    <img src="/<%=File.join('images', id[0..2], id[3..5], id[6..8], 'thumb.jpg') %>" />
  <% end %>
  </div>
</div>

<div class="panel">
  <div class="panel-heading">
    Description
  </div>
  <div class="panel-block">
    <div class="content">
    <% if @species.description && !@species.description.empty? %>
      <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new(hard_wrap: true)) %>
      <%= markdown.render(@species.description) %>
    <% end %>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-heading">
  Environmental Preferences
  </div>
  <div class="panel-block">
    <div class="content">
    <% if @species.environmental_preferences && !@species.environmental_preferences.empty? %>
      <%= markdown.render(@species.environmental_preferences) %>
    <% end %>
    </div>
  </div>
</div>
