<div class="ui modal" id="project-add-form-window">
  <div class="header">Add Project</div>
  <div class="content">
    <%= erb :'_validation_messages.html', layout: false %>
    <form class="ui form" id="project-form">
      <div class="field">
        <label for="project-name">Name</label>
        <input id="project-name" type="text" name="name" />
      </div>
    </form>
  </div>
  <div class="actions">
    <button class="ui cancel negative button">Cancel</button>
    <button class="ui approve positive button">Save</button>
  </div>
</div>
