<section class="section">
  <div class="columns">
    <div class="column is-one-quarter">
      <%= erb :'species/_search.html', layout: false %>
    </div>

    <div class="column">
      <div class="panel">
        <div class="panel-heading">
          <h1 class="title">Species list (<span id="search-species-size"></span>)</h1>
        </div>
        <div class="panel-block">
          <template id="search-species-template">
            <tr class="species">
              <td><a href="" class="species-name species-link"></a></td>
              <td class="species-group-name"></td>
            </tr>
          </template>
          <table id="species-list" class="table is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Species</th>
                <th>Group</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="module">
import { SpeciesSearch } from '/js/species_search.js';

$(function() {
  new SpeciesSearch({
    onSpeciesSearched: function(result) {
      $('#species-list tbody').empty();
      $('#search-species-size').text(result.result.length);
      var that = this;
      result.result.forEach(species => {
        var element = $($('#search-species-template').html());
        element.find('.species-name').text(species.name);
        element.find('.species-group-name').text(species.group_name);
        element.find('.species-link').attr("href", '/projects/' + <%= @project.id %> + '/species/' + species.id)
        $('#species-list tbody').append(element);
      })
    },
    updatePath: true,
    initialFilter: <%= @filters.to_json %>,
    defaultFilter: { project_id: <%= @project.id %> },
  });
})
</script>
