<section class="section">
  <div class="columns">
    <div class="column is-one-quarter">
      <div class="panel">
        <div class="panel-heading">Find project
        </div>
        <div class="panel-block">
          <form id="projects-search" class="form">
            <div class="field">
              <label for="search_name">Name</label>
              <input id="search_name" type="text" name="name" value="<%= @filters[:name] %>"/>
            </div>
            <button class="button" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>

    <template id="project-template">
      <tr>
        <td><a class="project-name project-link" href=""></a></td>
        <td class="project-date"></td>
      </tr>
    </template>

    <div class="column">
      <div class="panel">
        <div class="panel-heading">
          <h1 class="title">Projects (<span class="projects-size"></span>)</h1>
        </div>
        <nav class="navbar">
          <div class="navbar-menu">
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <button class="button is-small is-black add-project action">Add</button>
            </div>
          </div>
        </nav>
        <div class="panel-block">
          <table class="projects table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>Project name</th>
              <th>Date created</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/dist/projects_app.js"></script>
