<a class="ui massive primary button" href="<%= project_species_path(@project) %>">Species</a>
<a class="ui massive primary button" href="<%= occurrences_path(@project) %>">Count</a>
<a class="ui massive primary button" href="<%= reports_path(@project) %>">Reports</a>
