<div class="panel project-countings">
  <div class="panel-heading">Countings</div>
  <div class="panel-block">
    <table class="table is-striped is-fullwidth">
      <tbody>
      <% @project.countings.each do |counting| %>
        <tr>
          <% if counting.id == @counting&.id  %>
            <td class="is-selected"><%= counting.name %></td>
          <% else %>
            <td>
              <a href="<%= counting_path(@project, counting) %>"><%= counting.name %></a>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-block">
    <button class="button is-small is-black is-fullwidth add-counting action"><i class="add icon"></i>Add</button>
  </div>
</div>
