<div class="columns section-sample-selection">
  <div class="column">
    <template id="section-template">
      <tr>
        <td class="section" data-section-id="">
          <a class="select-section action section-name"></a>
        </td>
      </tr>
    </template>
    <table class="table is-striped is-bordered is-narrow sections-list">
      <thead>
        <tr>
          <th>Section</th>
        </tr>
      </thead>
      <tbody class="slot">
      </tbody>
    </table>
  </div>
  <div class="column">
    <template id="section-sample-template">
      <tr>
        <td class="sample" data-sample-id="">
          <a class="select-sample action sample-name"></a>
        </td>
      </tr>
    </template>
    <table class="table is-striped is-bordered is-narrow samples-list">
      <thead>
        <tr>
          <th>Sample</th>
        </tr>
      </thead>
      <tbody class="slot">
      </tbody>
    </table>
  </div>
</div>
