<div class="modal set-quantity">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="modal-card-title">Set Quantity</div>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label for="occurrence-quantity"><span class="species-name"></span> - <span class="group-name"></span></label>
        <input class="occurrence-quantity" name="occurrence-quantity" type="number" min="0" />
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success confirm">Save</button>
      <button class="button cancel">Cancel</button>
    </footer>
  </div>
</div>
