<div class="panel">
  <div class="panel-heading">
    <span class="tag">counting</span>
    <h2 class="title counting-name"></h2>
  </div>
  <nav class="navbar">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item occurrences-link" href="#">Counting Occurrences</a>
        <a class="navbar-item reports-link" href="#">Counting Report</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <button class="button is-black is-small edit-counting action">Edit Counting</button>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="panel">
  <div class="panel-block">
    <table class="table is-striped is-bordered">
      <thead>
        <tr>
          <th>Counting's Group</th>
          <th>Marker</th>
          <th>Marker Count</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="group-name"></td>
          <td><span class="marker-name"></span> <span class="marker-group-name"></span></td>
          <td class="marker-count"></td>
      </tbody>
    </table>
  </div>
</div>

<script type="module">
  import { CountingModalFormView } from "/js/modal_form_views.js";
  import { CountingRequest } from "/js/requests.js";
  import { DomHelpers } from "/js/dom_helpers.js";
  import { UrlBuilder } from "/js/url_builder.js";

  $(function() {
    let projectId = <%= @project.id %>
    let countingId = <%= @counting_id %>
    let projectName = "<%= @project.name %>"

    new CountingRequest().get(countingId).then(
      result => {
        let counting = result.counting
        DomHelpers.setHref('.occurrences-link', UrlBuilder.projectOccurrences(projectId, { projectName: projectName, countingId: counting.id }))
        DomHelpers.setHref('.reports-link', UrlBuilder.projectReports(projectId, { projectName: projectName, countingId: counting.id }))
        DomHelpers.setText('.counting-name', counting.name)
        if(counting.marker_count) {
          DomHelpers.setText('.marker-count', counting.marker_count)
        } else {
          DomHelpers.hideAll('.marker-count-wrapper')
        }
        if(counting.group_name) {
          DomHelpers.setText('.group-name', counting.group_name)
        } else {
          DomHelpers.hideAll('.group-name-wrapper')
        }
        if(counting.marker_name) {
          DomHelpers.setText('.marker-name', counting.marker_name)
          DomHelpers.setText('.marker-group-name', counting.marker_group_name)
        } else {
          DomHelpers.hideAll('.marker-name-wrapper')
        }
        $('.edit-counting.action').click(() => {
          new CountingModalFormView(counting, (counting) => window.location.reload()).show()
        });
      },
      errors => {
        console.log(errors)
      }
    )
  });
</script>
